{% load crispy_forms_tags %}

  <!-- record form section -->
      <!-- <div class="col-6 p-2">
        <h3>Some Thing Form</h3>
        <form action="" method="POST">
          {% csrf_token %}
          {{ t_form|crispy }}
          <div class="text-center mt-4">
            <input type="submit" name=submit1 class="btn btn-info text-white">
          </div>
        </form>
      </div>


      <div class="col-6 p-2">
        <h3>Item Form</h3>
        <form action="" method="POST">
          {% csrf_token %}
          {{ i_form|crispy }}
          <div class="text-center mt-4">
            <input type="submit" name=submit2 class="btn btn-info text-white">
          </div>
        </form>
      </div> -->